.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin: 0;
  margin-left: 15px;
}

.nav-container {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.navbar {
  display: flex;
  padding-right: 15px;
}

.navbar li {
  list-style: none;
  margin-left: 15px;
}

.nav-link {
  color: coral;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-link {
  color: #618afb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid lightblue;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
}

thead td {
  font-weight: bolder;
}

tr:nth-child(even) {
  background: rgb(231, 223, 223);
}

tr:nth-child(odd) {
  background: #fff;
}

.display-flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

.profile-section {
  border: 1px solid lightgray;
  padding: 25px;
  border-radius: 6px;
  border-collapse: collapse;
  margin: 3px;
  min-width: 400px;
  min-height: 350px;
}