.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  display: flex;
}

.navbar li {
  list-style: none;
  margin: 15px;
}

.nav-link {
  color: coral;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
}

thead td {
  font-weight: bolder;
}

td {
  border: 1px solid lightblue;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
}

tr:nth-child(even) { 
  background: rgb(231, 223, 223);
}

tr:nth-child(odd) {
  background: #FFF;
}
